.provider-onboarding {
    /* optional page-level vars later */
}

.provider-onboarding {
    background-color: #ffffff;
    color: #111827; /* gray-900 */
}

.provider-onboarding * {
    border-color: #e5e7eb; /* gray-200 */
}


/* Scoped utility overrides */
.provider-onboarding .bg-blue-500 {
    background-color: rgb(59, 130, 246);
}

.provider-onboarding .bg-blue-600 {
    background-color: rgb(37, 99, 235);
}

.provider-onboarding .bg-blue-50 {
    background-color: rgb(239, 246, 255);
}

.provider-onboarding .bg-blue-100 {
    background-color: rgb(219, 234, 254);
}

.provider-onboarding .text-blue-500 {
    color: rgb(59, 130, 246);
}

.provider-onboarding .text-blue-700 {
    color: rgb(29, 78, 216);
}

.provider-onboarding .border-blue-500 {
    border-color: rgb(59, 130, 246);
}

.provider-onboarding .hover\:bg-blue-600:hover {
    background-color: rgb(37, 99, 235);
}
