
.profile-page {
  min-height: 100vh;
      background: linear-gradient(120deg, #29a9ff, #9fd7ff, #cfefff);
      background-size: 300% 300%;
    animation: gradientMove 8s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.profile-card {
  width: 400px;
  padding: 30px;
  background: #ffffff;
  border-radius: 22px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.15);
  transform-style: preserve-3d;
  animation: floatCard 4s ease-in-out infinite;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.profile-card:hover {
  transform: rotateY(8deg) rotateX(4deg) scale(1.02);
  box-shadow: 0 45px 90px rgba(0, 0, 0, 0.25);
}

@keyframes floatCard {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.profile-card h2 {
  text-align: center;
  color: #1565c0;
  margin-bottom: 20px;
}

.avatar-box {
  text-align: center;
  margin-bottom: 20px;
}

.avatar-box img {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #1e88e5;
  box-shadow: 0 0 25px rgba(30, 136, 229, 0.6);
}

.upload-btn {
  display: inline-block;
  margin-top: 10px;
  font-size: 13px;
  color: #1e88e5;
  font-weight: 500;
  cursor: pointer;
}

.upload-btn input {
  display: none;
}

form input,
form textarea {
  width: 100%;
  margin-top: 12px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #bbdefb;
  outline: none;
  background: #f7fbff;
  color: #0d47a1;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

form input:focus,
form textarea:focus {
  border-color: #1e88e5;
  box-shadow: 0 0 12px rgba(30, 136, 229, 0.4);
}

form input::placeholder,
form textarea::placeholder {
  color: #90caf9;
}

form button {
  width: 100%;
  margin-top: 22px;
  padding: 13px;
  border-radius: 14px;
  border: none;
  background: linear-gradient(135deg, #1e88e5, #42a5f5);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

form button:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 18px 35px rgba(30, 136, 229, 0.6);
}
